body
{
    margin: 2em;
}
#mainHeader
{
    color:green;
    text-align: center;
    font-family: sans-serif;
}
.Article_Header
{
  color: green;
  font-family: cursive;
}
#randomNumber
{
    font-family: sans-serif;
    
}
#randomNumberCode
{
    font-family:monospace ;
    font-size: 15px;
    background-color: darkgrey;
;
    height: 250px;
    width: 300px;
    
}
#randomNumberImage
{
    height: 400px;
    width: 700px;
}
#linearSearchCode
{
    font-family:monospace ;
    font-size: 15px;
    background-color: darkgrey;
    height: 700px;
    width: 700px;
    
}
#fractionalKnapsackCode
{
    font-family:monospace ;
    font-size: 15px;
    background-color: darkgrey;
    height: 1090px;
    width: 500px;
    
}
